records.xsd

<?xml version="1.0" encoding="utf-8"?>
<!-- Created with Liquid Technologies Online Tools 1.0 (https://www.liquid-technologies.com) -->
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="records">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" name="row">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="name" type="xs:string" />
              <xs:element name="surname" type="xs:string" />
              <xs:element name="gender" type="xs:string" />
              <xs:element name="email" type="xs:string" />
              <xs:element name="phone_number" type="xs:string" />
              <xs:element name="address" type="xs:string" />
              <xs:element name="level_of_education" type="xs:string" />
              <xs:element name="income_level" type="xs:unsignedShort" />
              <xs:element name="expenditure" type="xs:unsignedShort" />
              <xs:element name="currency_unit" type="xs:string" />
              <xs:element name="current_mood" type="xs:string" />
              <xs:element name="height" type="xs:decimal" />
              <xs:element name="weight" type="xs:unsignedByte" />
            </xs:sequence>
            <xs:attribute name="id" type="xs:unsignedByte" use="required" />
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>